doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='css/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='js/script.js')
  body
    .daybox
      label
        input#switch_night(type='checkbox')
        .top
          .moon
          //- .cloudrain
          //-   .rain.rain1
          //-   .rain.rain2
          //-   .rain.rain3
          //- svg(viewbox='-72 -57 100 100').sun
          //-   circle(cx="0" cy="0" r="7")
          //- svg(viewbox='-75 -56 100 100').sun.sun2
          //-   circle(cx="0" cy="0" r="5")
          //- .cloudrain
          svg.temsvg
            circle(r='3')
            text
            circle(r='3')
            text
            circle(r='3')
            text
            circle(r='3')
            text
            circle(r='3')
            text
            circle(r='3')
            text
            circle(r='3')
            text
            //- polyline(points='0,100 70,50 140,60 210,70 280,100 350,110 420,90')
            line
            line
            line
            line
            line
            line
          .text_area
            .temperature
            .infos
              .address 
              .time 
              
        .bottom
          //- .dayweather
          //-   h3 MON
          //-   svg(viewbox='-50 -50 100 100')
          //-     circle.sun(cx='0', cy='0', r='22')
          //- .dayweather
          //-   h3 THU
          //-   svg(viewbox='-50 -50 100 100')
          //-     circle.sun(cx='0', cy='0', r='22')
          //- .dayweather
          //-   h3 WEN
          //-   svg(viewbox='-50 -50 100 100')
          //-     circle.sun(cx='0', cy='0', r='22')
          //-     circle.cloud(cx='0', cy='30', r='20')
          //-     circle.cloud(cx='-15', cy='30', r='20')
          //-     circle.cloud(cx='-30', cy='30', r='20')
          //-     circle.cloud(cx='-25', cy='10', r='15')
          //-     circle.cloud(cx='-7', cy='15', r='15')
          //-     circle.cloud(cx='0', cy='30', r='20')
          //-     circle.cloud(cx='-15', cy='30', r='20')
          //-     circle.cloud(cx='-30', cy='30', r='20')
          //-     circle.cloud(cx='-25', cy='10', r='15')
          //-     circle.cloud(cx='-7', cy='15', r='15')
          //- .dayweather
          //-   h3 THU
          //-   svg(viewbox='-50 -50 100 100')
          //-     circle.sun(cx='0', cy='0', r='22')
          //-     circle.cloud(cx='0', cy='30', r='20')
          //-     circle.cloud(cx='-15', cy='30', r='20')
          //-     circle.cloud(cx='-30', cy='30', r='20')
          //-     circle.cloud(cx='-25', cy='10', r='15')
          //-     circle.cloud(cx='-7', cy='15', r='15')
          //- .dayweather
          //-   h3 FRI
          //-   svg(viewbox='-50 -50 100 100')
          //-     circle.sun(cx='0', cy='0', r='22')
          //-     circle.cloud(cx='0', cy='30', r='20')
          //-     circle.cloud(cx='-15', cy='30', r='20')
          //-     circle.cloud(cx='-30', cy='30', r='20')
          //-     circle.cloud(cx='-25', cy='10', r='15')
          //-     circle.cloud(cx='-7', cy='15', r='15')
          //- .dayweather
          //-   h3 SAT
          //-   svg(viewbox='-63 -30 100 100')
          //-     circle.cloud(cx='0', cy='30', r='20')
          //-     circle.cloud(cx='-15', cy='30', r='20')
          //-     circle.cloud(cx='-30', cy='30', r='20')
          //-     circle.cloud(cx='-25', cy='10', r='15')
          //-     circle.cloud(cx='-7', cy='15', r='15')
          //- .dayweather
          //-   h3 SUN
          //-   svg(viewbox='-63 -20 100 100')
          //-     line.rain(x1='-25', y1='15', x2='-25', y2='35')
          //-     line.rain(x1='-14', y1='5', x2='-14', y2='25')
          //-     line.rain(x1='-5', y1='20', x2='-5', y2='45')
          //-     circle.cloud(cx='0', cy='30', r='20')
          //-     circle.cloud(cx='-15', cy='30', r='20')
          //-     circle.cloud(cx='-30', cy='30', r='20')
          //-     circle.cloud(cx='-25', cy='10', r='15')
          //-     circle.cloud(cx='-7', cy='15', r='15')